@tailwind base;
@tailwind components;
@tailwind utilities;

.message-box {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ef4444;
  color: white;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

body {
  font-family: 'Inter', sans-serif;
}

.dark .bg-gray-900 {
  background-color: #000000;
}

.dark .text-gray-200 {
  color: #ffffff;
}

.dark .bg-white {
  background-color: #1a1a1a;
}

.dark .text-indigo-700 {
  color: #4299e1;
}

.dark .bg-gray-800 {
  background-color: #1a1a1a;
}

.dark .rounded-2xl {
  border: 1px solid #333333;
}

.dark .focus:ring-indigo-500 {
  --tw-ring-color: #4299e1;
}

.dark .bg-gray-50 {
  background-color: #2c2c2c;
}

.dark .bg-gray-700 {
  background-color: #2c2c2c;
}

.dark .bg-gray-600 {
  background-color: #3d3d3d;
}

.dark .border-gray-200 {
  border-color: #333333;
}

.dark .border-gray-700 {
  border-color: #333333;
}

.dark .text-indigo-400 {
  color: #4299e1;
}

.dark .bg-indigo-500 {
  background-color: #4299e1;
}

.dark .hover:bg-indigo-600:hover {
  background-color: #5ab0eb;
}

.dark .bg-indigo-600 {
  background-color: #3182ce;
}

.dark .hover:bg-indigo-700:hover {
  background-color: #4299e1;
}

.animate-slideIn {
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}